    :root {
    --bs-blue: #116df7;
    --bs-indigo: #650af7;
    --bs-purple: #6724e4;
    --bs-pink: #f11684;
    --bs-red: #ec1e33;
    --bs-orange: #f7750a;
    --bs-yellow: #f3b809;
    --bs-green: #07a55b;
    --bs-teal: #17f5b2;
    --bs-cyan: #10ccf1;
    --bs-white: rgb(221, 215, 215);
    --bs-gray: #83898d;
    --bs-gray-dark: #272e35;
    --bs-primary: #1161dae5;
    --bs-secondary: #535e68;
    --bs-success: #0ad476;
    --bs-info: #11cff5;
    --bs-warning: #f5ba08;
    --bs-danger: #e0071d;
    --bs-light: #f4f7fa;
    --bs-dark: #2c333b;
    }